<%- include('../partials/header') %>


<h1><%= question.title %></h1>

<p><%= question.content %></p>
<p><strong> Created at: </strong> <%= question.createdAt %></p>
<p><strong> Updated at: </storng> <%= question.updatedAt %></p>


<%- include('../partials/footer') %>
